<button class="toggle-button md-default-theme md-button md-primary md-raised ember-view md-ink-ripple" {{action "getSubgroupInfo" this}}>
  <div class="title">{{subgroupName}}</div> {{paper-icon "keyboard-arrow-down" size=36 class="toggle-icon"}}
</button>