body {
  background-color: #607D8B;
  height: 100%;
}

#map {
  width: 100%;
  height: 50em;
  display: block;
  visibility: visible;
}

#map2 {
  width: 100%;
  height: 50em;
  display: none;
  visibility: hidden;
}

#tabs {
  text-align: center;
  width: 100%;
}

button.active {
  background-color: #303F9F !important;
}

button.not-active {
  background-color: #C5CAE9 !important;
}

md-card {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

#category-card {
  margin: 10px;
  position: relative;
  top: 0%;
  left: 10%;
  margin-right: -10%;
  transform: translate(0%, 0%);
  width: 80%;
}

button.toggle-button {
  display: block;
  width: 100%;
  padding: 1em 1em;
  background-color: #009688;
  font-weight: bold;
}

.title {
  float: left;
}

.toggle-icon {
  float: right;
  display:inline-block;
  margin-left:auto; margin-right:0;
}

.toggle-hidden {
  border-radius: 3px;
  box-sizing: border-box;
  color: currentColor;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  outline: none;
  border: 0;
  display: inline-block;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 6px;
  margin: 6px 8px;
  line-height: 36px;
  min-height: 36px;
  background: transparent;
  white-space: nowrap;
  min-width: 88px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-color: #3f51b5;
  border-width: 1px;
}

.md-button.md-default-theme.md-primary.md-raised {
  background-color: #009688;
}

.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover, a.md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover, a.md-button.md-primary.md-raised:not([disabled]):hover, a.md-button.md-primary.md-fab:not([disabled]):hover,
.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover,
.md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover, .md-button.md-primary.md-raised:not([disabled]):hover, .md-button.md-primary.md-fab:not([disabled]):hover {
  background-color: #00796B;
}

md-checkbox.md-default-theme.md-checked .md-ink-ripple, md-checkbox.md-checked .md-ink-ripple {
  color: #009688;
}

md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
  background-color: #455a64; }

.container.my_container {
  display: none;
}

