body {
  background-color: #607D8B;
}

#map {
  width: 100%;
  height: 50em;
  display: block;
  visibility: visible;
}

#map2 {
  width: 100%;
  height: 50em;
  display: none;
  visibility: hidden;
}

#tabs {
  text-align: center;
  width: 100%;
}

button.active {
  background-color: #303F9F !important;
}

button.not-active {
  background-color: #C5CAE9 !important;
}

md-card {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
