{{#each model.subgroups as |subgroup|}}
  <button class="toggle-button md-default-theme md-button md-primary md-raised ember-view md-ink-ripple" {{action "getSubgroupInfo" subgroup}}>
    <div class="title">{{subgroup.subgroupName}}</div> {{paper-icon "keyboard-arrow-down" size=36 class="toggle-icon"}}
  </button>
{{/each}}