<div class="layout-row layout-lg-column" >
  {{#paper-card as |card|}}
    {{#card.title as |title|}}
      <div id="tabs">
        {{#paper-button raised=true primary=true class='active' id='county'}}Województwo{{/paper-button}}
        {{#paper-button raised=true primary=true class='not-active' id='district'}}Powiaty{{/paper-button}}
      </div>
    {{/card.title}}
    {{#card.content class="layout-row layout-align-space-between"}}
      <div id='map'></div>
      <div id='map2'></div>
      {{#card.actions class="layout-column" id="categories"}}
        {{#each model as |group|}}
          {{#link-to 'group' group.id (query-params levelOfData=1)}}{{#paper-button raised=true primary=true}}{{fa-icon group.icon fixedWidth=true size=3}}{{group.subgroupsCount}}{{/paper-button}}{{/link-to}}
        {{/each}}
      {{/card.actions}}
    {{/card.content}}
  {{/paper-card}}
</div>

<script>
  var map = L.map('map');
  $(document).ready(function(){
    adminLevel4();
  });

  $("#county").click(function(){
    $('#district').removeClass('active');
    $('#county').removeClass('not-active');
    $('#district').addClass('not-active');
    $('#county').addClass('active');
    document.getElementById("categories").style.display= "flex";
    document.getElementById("categories").style.visibility = "visible";
   adminLevel4();
  });

  $("#district").click(function(){
    $('#county').removeClass('active');
    $('#district').removeClass('not-active');
    $('#county').addClass('not-active');
    $('#district').addClass('active');
    document.getElementById("categories").style.display= "none";
    document.getElementById("categories").style.visibility = "hidden";
    adminLevel6();
  });

  function adminLevel4() {

    map.eachLayer(function (layer) {
      map.removeLayer(layer);
    });

    map.createPane('labels');
    map.invalidateSize();

    // This pane is above markers but below popups
    map.getPane('labels').style.zIndex = 650;

    // Layers in this pane are non-interactive and do not obscure mouse/touch events
    map.getPane('labels').style.pointerEvents = 'none';


    var cartodbAttribution = '';

    var positron = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_nolabels/{z}/{x}/{y}.png', {
      attribution: cartodbAttribution
    }).addTo(map);

    var positronLabels = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_only_labels/{z}/{x}/{y}.png', {
      attribution: cartodbAttribution,
      pane: 'labels'
    }).addTo(map);

    geojson = L.geoJson(countyBoundaries).addTo(map);

    geojson.eachLayer(function (layer) {
      //layer.on('click', openNewPage);
    });

    map.setView({ lat: 53.01375, lng: 18.59814 }, 8);
    map.invalidateSize();

  }

  function adminLevel6() {
    map.eachLayer(function (layer) {
      map.removeLayer(layer);
    });

    map.createPane('labels');
    map.invalidateSize();
    // This pane is above markers but below popups
    map.getPane('labels').style.zIndex = 650;

    // Layers in this pane are non-interactive and do not obscure mouse/touch events
    map.getPane('labels').style.pointerEvents = 'none';


    var cartodbAttribution = '';

    var positron = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_nolabels/{z}/{x}/{y}.png', {
      attribution: cartodbAttribution
    }).addTo(map);

    var positronLabels = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_only_labels/{z}/{x}/{y}.png', {
      attribution: cartodbAttribution,
      pane: 'labels'
    }).addTo(map);

    geojson = L.geoJson(boundaries).addTo(map);

    geojson.eachLayer(function (layer) {
//      layer.bindPopup(layer.feature.properties.name);
      layer.on('click', openNewPage);
    });

    map.setView({ lat: 53.01375, lng: 18.59814 }, 8);
    map.invalidateSize();
  }

  function openNewPage() {
    window.open("/county","_self")
  }
</script>