<div class="layout-row layout-lg-column" >
  {{#paper-card as |card|}}
    {{#card.title as |title|}}
      <div id="tabs">
        {{#paper-button raised=true primary=true class='active' id='county'}}Województwo{{/paper-button}}
        {{#paper-button raised=true primary=true id='district'}}Powiaty{{/paper-button}}
      </div>
    {{/card.title}}
    {{#card.actions}}
      <div id='map'></div>
    {{/card.actions}}
  {{/paper-card}}
</div>

<script>
  $(document).ready(function(){
      if($("#county").hasClass("active")) {
          adminLevel4();
      }
  })

  function adminLevel4() {
    var map = L.map('map');
    map.createPane('labels');

    // This pane is above markers but below popups
    map.getPane('labels').style.zIndex = 650;

    // Layers in this pane are non-interactive and do not obscure mouse/touch events
    map.getPane('labels').style.pointerEvents = 'none';


    var cartodbAttribution = '';

    var positron = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_nolabels/{z}/{x}/{y}.png', {
      attribution: cartodbAttribution
    }).addTo(map);

    var positronLabels = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_only_labels/{z}/{x}/{y}.png', {
      attribution: cartodbAttribution,
      pane: 'labels'
    }).addTo(map);

    geojson = L.geoJson(countyBoundaries).addTo(map);

    geojson.eachLayer(function (layer) {
      layer.bindPopup(layer.feature.properties.name);
    });

    map.setView({ lat: 53.01375, lng: 18.59814 }, 8);
  }

  function adminLevel6() {
    var map = L.map('map');
    map.createPane('labels');

    // This pane is above markers but below popups
    map.getPane('labels').style.zIndex = 650;

    // Layers in this pane are non-interactive and do not obscure mouse/touch events
    map.getPane('labels').style.pointerEvents = 'none';


    var cartodbAttribution = '';

    var positron = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_nolabels/{z}/{x}/{y}.png', {
      attribution: cartodbAttribution
    }).addTo(map);

    var positronLabels = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_only_labels/{z}/{x}/{y}.png', {
      attribution: cartodbAttribution,
      pane: 'labels'
    }).addTo(map);

    geojson = L.geoJson(boundaries).addTo(map);

    geojson.eachLayer(function (layer) {
      layer.bindPopup(layer.feature.properties.name);
    });

    map.setView({ lat: 53.01375, lng: 18.59814 }, 8);
  }
</script>